.home-heading {
    color: yellow;
    font-weight: bolder;
    margin-left: 100px;
}

.index-body a {
    color: yellow;
    font-size: 22px;
    font-weight: bolder;
    margin-left: 100px;
}

.index-body {
    text-align: center;
    background-color: black;
    background-size: auto;
}

.french-toast-body {
    background-color: black;
    color: white;
    text-align: center;
    list-style-position: inside;
}

.guacamole-body {
    background-color: black;
    color: white;
    text-align: center;
    list-style-position: inside;
}

.meatloaf-body {
    background-color: black;
    color: white;
    text-align: center;
    list-style-position: inside;
}